.div-style{
    background-color: rgb(115, 247, 247);
    padding: 25px;
    border-radius: 5px;
    height: 200px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}
.div1-style{
    background-color: rgb(35, 119, 228)  !important;
    margin: 0 !important;
    margin-top: 0 !important;
    padding: 8px;
    color: whitesmoke;
}
.div2-style{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    row-gap: 80px;
    margin: 50px;
}
body{
    margin: 0;
    background-color: white;
    border: 10px solid black;
}
@media(max-width:576px){
    .div-style{
        background-color: rgb(115, 247, 247);
        padding: 25px;
        border-radius: 5px;
        height: 250px;
        width: 350px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
}